[Desktop Entry]

Version=1.0
Name=Neovim
GenericName=Text Editor
Comment=Text Editor
Path=/home/advait
Exec=kitty nvim
Icon=nvim
Terminal=false
Type=Application
Keywords=Text;editor;
Categories=Utility;TextEditor
